<!-- LOCALS: room -->

<div id="ask_a_question">
  <div class="section_title">
    Ask a question (141 chars max)
  </div>
  <div id="ask_container">
    <%= form_for(@question, remote: true, html: {id: 'question_form'}) do |f| %>
      <div class="errors"></div>
      <%= f.hidden_field(:room_id)%>
      <div id="ask_content"><%= f.text_area(:content, :maxlength => 141) %></div>
      <div id="ask_submit"><%= f.submit(:ask, :class => "primary btn") %></div>
    <% end %>
  </div>
</div>