<!-- LOCALS: room -->

<div id="vibes">
  <div class="vibe">
    <%= link_to create_vibe_url(:room_id => room.id, :vibe_type => :bored) do %>
      <span class="vibe_button btn">Zzz</span>
    <% end %>
    <div class="vibe_title">bored</div>
  </div>

  <div class="vibe">
    <%= link_to create_vibe_url(:room_id => room.id, :vibe_type => :good) do %>
      <span class="vibe_button btn info">:)</span>
    <% end %>
    <div class="vibe_title">good</div>
  </div>
    
  <div class="vibe">
    <%= link_to create_vibe_url(:room_id => room.id, :vibe_type => :confused) do %>
      <span class="vibe_button btn danger">??</span>
    <% end %>
    <div class="vibe_title">confused</div>
  </div>
</div>
