/* Put global styles here and 
 * import it into individual 
 * stylesheets that need it
 * =========================== */

// @import "compass"
@import "colors"

body
  color: gray
  font-family: Helvetica
  line-height: 1.2
  
ul
  list-style: none
  margin: 0
  
  li
    list-style: none
    margin: 0
    
ol, ul
  margin: 0 !important