@import "layout"
@import "vibes"
@import "ask_container"
@import "question"

=clearfix
  overflow: hidden
  
=float-left
  float: left
  
=float-right
  float: right

#mobile_container
  font-size: 40px
  line-height: 1.2
  margin: 10px 20px 40px
  
  .section_title
    margin: 20px 0

  input, textarea
    font-size: 36px
    line-height: 1.2

#mobile_header
  +clearfix
  padding: 20px 0 40px
  
  #room_name
    +float-left
    color: black
    font-weight: bold
    text-transform: capitalize
    
  #num_listeners
    +float-right
    color: $light-gray

#action_panel
  border: 1px solid $light-gray

  #ask_a_question
    padding: 40px 0
    width: 100%
  
    .section_title
      margin: 20px 40px
  
#other_questions
  margin-top: 40px
  
  #questions
    list-style: none
    margin: 0